
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f7fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh; 
    margin: 0;
}



header {
    background-color: #4299e1;
    color: white;
    width: 100%;

    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin-bottom: 2rem;
}

footer {
    background-color: #4299e1;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}


@media (max-width: 480px) {
    .container {
        padding: 1rem;
        width: 90%;
    }

    h2 {
        font-size: 1.25rem;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        font-size: 0.875rem;
    }

    button {
        font-size: 0.875rem;
    }
}





.fade-out {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.1s ease, transform 0.5s ease;
}

.neon-border {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    border: 3px solid transparent;
}

.neon-border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 3px solid transparent;
    animation: neonGlow 1s infinite alternate, cometMove 2s linear infinite;
}

@keyframes neonGlow {
    0% { box-shadow: 0 0 10px #00ff00; }
    50% { box-shadow: 0 0 20px #00ffff; }
    100% { box-shadow: 0 0 10px #ff00ff; }
}

@keyframes cometMove {
    0% {
        clip-path: inset(0 100% 100% 0);
        border-color: #00ff00;
    }
    25% {
        clip-path: inset(0 0 100% 0);
        border-color: #00ffff;
    }
    50% {
        clip-path: inset(0 0 0 0);
        border-color: #ff00ff;
    }
    75% {
        clip-path: inset(100% 0 0 0);
        border-color: #ff0000;
    }
    100% {
        clip-path: inset(100% 100% 0 0);
        border-color: #00ff00;
    }
}